@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/_LayoutChung.cshtml";
}

<div class="container">
    <div class="row">
        <h3>THÔNG BÁO</h3>
        <h5>KHÔNG THỂ XÓA TOUR NÀY VÌ CÓ NHIỀU DỮ LIỆU LIÊN QUAN. VUI LÒNG XÓA HẾT DỮ LIỆU LIÊN QUAN TRƯỚC KHI THỰC HIỆN THAO TÁC NÀY</h5>
    </div>
</div>
