@{
    ViewBag.Title = "XacNhanDangNhap";
    Layout = "~/Views/_LayoutChung.cshtml";
}
<div class="container">
    <div class="row">
        <h2>Đăng nhập thất bại. Vui lòng kiểm tra lại tên đăng nhập và mật khẩu</h2>
    </div>
</div>

